@import '../../index.css';


.about__img {
    width: 15rem;
    border-radius: 50%;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-right: 1rem;
}
.about__container{
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;
    background-color: rgba(128, 128, 128, 0.37) ;
    padding: 1rem;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    margin: 2rem;
}
.skills__title{
    margin-top: 3em;
    display: flex;
    justify-content: center;
    margin-left: -15em;
}
.skills__data{
    display: flex;
    padding: 1.875rem;
    margin-left: -10em;
    gap: -2;
}

.about__description{
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 3rem;
    margin-bottom: ;
    text-align: justify;

}
.btn {
    margin-left: 1.18rem;
    margin-top: 2rem;
    margin-bottom: -1rem;
}

.about__boxes{
    grid-template-columns: repeat(4,1fr);
    margin-top: 4.25rem;
}
.about__box{
    display: flex;
    margin-top: 2.5rem;
}
.about__icon{
    font-size: var(--h1-font-size);
    color: #7c7c92;
    margin-left: 2rem;

}
.about__title{
    font-size: 1.875rem;
}
.skills__titles{
    margin-left: 2rem;
    margin-top: 2rem;
    position: relative;
    transition: background-color 0.3s ease-in-out;
}
.skills__name{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 70%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
}
.skills__img__html{
    width: 5em;
    transition: transform 0.3s ease-in-out;
}
.skills__img__html:hover{
    filter: brightness(50%);
}
.skills__img__html:hover + .skills__name:first-of-type {
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    color: white;
    text-align: center;
    left: 25%;
    cursor: pointer;
}
.skills__data .skills__titles:nth-child(2) .skills__name {
    left: 12%;
}
.skills__data .skills__titles:nth-child(3) .skills__name {
    left: 0%;
}
.skills__data .skills__titles:nth-child(4) .skills__name {
    left: 0%;
    
}
.skills__data .skills__titles:nth-child(5) .skills__name {
    top: 60%;
    left: 13%;
}
.skills__data .skills__titles:nth-child(5) .skills__img__html {
    margin-top: 8px;
}
.data__design{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -25rem;
}
.skills__name2{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 70%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
}
.skills__img__html:hover + .skills__name2:first-of-type {
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    color: white;
    text-align: center;
    left: -5%;
    cursor: pointer;

}
@media (max-width: 767px) {

    .about__img {
        margin-left: 15px;
    }
    .about__container{
        grid-template-columns: 1fr;
        padding-left: 2rem;
        width: 20rem;
        margin-left: 0;
    }
    .btn{
        margin-bottom: 2rem;
    }
    .skills__data{
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -2.8em;
        margin-right: -4em;
        margin-top: 1em;
        gap: 2em;
    }
    .skills__name{
        margin-left: -1.2rem;
    }
    .skills__titles {
    margin-top: -1rem;
    }
    .data__design{
        margin-left: -6em;
    }
    .about__boxes{
        grid-template-columns: repeat(2,1fr);
        margin-top: 4.25rem;

    }
    .about__icon{
        font-size: 2rem;
        margin-left: 0;
        padding-right: 10px;
    
    }
    .about__title{
        font-size: 2.5rem;
    }
    .about__subtitle{
        font-size: 1rem;
    }
    .skills__number{
        padding-bottom: -5rem;
    }
    .skills__title{
        margin-left: -7%;
    }
    .skills__name{
        margin-left: 0%;
    }
}